html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: 'Karma', serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

ol {
  font-family: 'karma' sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  margin: 0;
}

li {
  margin: 0;
  padding: 1rem;
  border: 3px solid #987ffa;
  border-radius: 6px;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  color: #6f00e7;
  font-weight: bold;
  text-align: center;
}

span {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

div {
  background-color: #6f00e7;
  font-family: 'oswald', sans-serif;
  color: white;
  border-radius: 3em;
  margin: 0 auto 0 0;
  padding: .5em 1.5em .7em
  display: flex
}

li p {
  text-align: center;
}
