html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: 'Karma', serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}
ol {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
ol li{
  margin: 0;
  padding: 1rem;
  border: 3px solid #987ffa;
  border-radius: 6px;
  text-decoration: none;
  list-style: none;
}

h2 {
  font-family: Oswald, sans-serif;
  font-size: 2rem;
  color: #6f00e7;
  font-weight: bold;
  text-align: center;
}

ol p

ul li {
  display: flex;
  flex-direction: row;
}
